# User added!
/Temp/*

#Build folder
*/Build_Data

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk




# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# =============== #
# Unity generated #
# =============== #
##Unity stuff copied from http://kleber-swf.com/the-definitive-gitignore-for-unity-projects/

SonarGraphicsTestProj/[Tt]emp/
SonarGraphicsTestProj/[Oo]bj/
SonarGraphicsTestProj/[Bb]uild/
SonarGraphicsTestProj/[Bb]uilds/
SonarGraphicsTestProj/[Ll]ibrary/
SonarGraphicsTestProj/[Ll]ibrary/[Mm]etadata/
sysinfo.txt
*.stackdump


# ============================================= #
# Visual Studio / MonoDevelop / Rider generated #
# ============================================= #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
/.idea*/



# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
.AppleDouble
.LSOverride
